*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #252525;
}

.progress-bar__container {
  width: 500px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;

}

.progress-bar__meter {
    width: 120px;
    height: 20px;
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
}